@use '../../../assets/scss/main.scss' as *; 


.imageContainer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 82px;
    height: 82px;
    border-radius: 50px;
    background-color: $color-white;
    box-shadow: 0px 2px 3px rgba(28, 5, 77, 0.03), 0px 12px 8px rgba(0, 0, 0, 0.02);
    margin-right: 0;
    margin: 0 !important;
}

.name {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 17.6px;
}

.activeItem {
    cursor: pointer;
    transition: .2s all;
    &:hover {
        background-color: darken($color-white, 4%);
    }
}