@use '../../../../assets/scss/main.scss' as *;

.body {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.containerImgIcon {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 146px;
    height: 146px;
    background-color: $color-text-light;
    border-radius: 100%;
    margin: 20px 0px;

    .savingIcon {
        align-self: center;
        width: 70px;
        height: 70px;
    }
}

.balance {
    align-self: center;
    font-size: $large-font-size;
    font-weight: 600;
    margin-bottom: 0;
}

.savingName {
    align-self: center;
    font-weight: 600;
    font-size: $small-font-size;
    margin-bottom: 1rem;
}

.description {
    align-self: center;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 36px;
}
