@use '../../../../assets/scss/main.scss' as *;

.title {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}

.subTitle {
    line-height: 18px;
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.inputCurrency {
    padding: 14.5px 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 100%;
    font-size: 0.875rem;

    &::placeholder {
        font-size: 0.875rem;
    }

    &:focus {
        outline: none;
    }
}

.errorMessage {
    font-size: 0.875rem;
    color: $color-error;
}

.label {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
}
