@use '../../../assets/scss/main.scss' as *;

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btnActive {
    background-color: $color-primary-light;
    border: none;
    color: $color-white;
    cursor: default !important;
}

.rowPetShop {
    display: flex;
    justify-content: space-between;
}

.navLink {
    // display: flex;
    // width: fit-content;
    text-align: center;
    flex: 0 0 28%;
    padding: 2px 35px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: $color-white;
    &:hover {
        color: black;
    }
}

.active {
    background-color: $color-primary-light;
    border: none;
    color: $color-white;
    cursor: default !important;
    &:hover {
        color: $color-white;
    }
}