@use '../../../../assets/scss/main.scss' as *;

.monoflex {
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 10px;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.typeSaving {
    color: $color-primary;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
    margin-bottom: 3px;
}

.subTypeSaving {
    font-size: 1rem;
    line-height: 20.11px;
    margin-bottom: 14px;
    width: 80%;
}