@use '../../../assets/scss/main.scss' as *;

.itemPet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 32px rgba(0, 0, 0, 0.05);
    padding: 20px;
    max-width: 450px;
    width: 100vh;
    .buttonContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    .btnActive {
        background-color: $color-primary-light;
        border: none;
        color: $color-white;
        cursor: default !important;
    }
    .rowPetItem {
        display: flex;
        justify-content: space-between;
    }
}

.navLink {
    text-align: center;
    flex: 0 0 28%;
    padding: 2px 35px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: $color-white;
    &:hover {
        color: black;
    }
}

.active {
    background-color: $color-primary-light;
    border: none;
    color: $color-white;
    cursor: default !important;
    &:hover {
        color: $color-white;
    }
}