@use '../../../../assets/scss/main.scss' as *;

.accordionItem {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.313rem;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  hr {
    margin: 10px 0px;
  }
  .accordionTitle {
    display: flex;
    justify-content: space-between;
    .title {
      color: $color-primary;
      font-weight: 600;
      font-size: $small-font-size;
      margin: 0;
    }
  }
}