@use '../../../../assets/scss/main.scss' as *;

.faqItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.3rem;
  border-radius: 0.5rem;
  background-color: $color-text-light;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.813rem;
  cursor: pointer;
  .iconContainer {
    flex: 0 0 30%;
  }
  .textContainer {
    .title {
      color: $color-primary-light;
      font-weight: 600;
      font-size: $small-font-size;
    }
    .subTitle {
      margin-bottom: 0;
    }
  }
}