@use '../../../../assets/scss/main.scss' as *;

.title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.813rem;
}

.itemContainer {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 0;
}

.itemContainerTop {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  margin-top: 10px;
}