@use '../../../assets/scss/main.scss' as *;

.topContainer {
  color: $color-secondary-light;
  letter-spacing: .18px;
  max-width: 70%;
}

.heading {
  max-width: 75%;
  margin: 0 auto;
  padding: 4rem 0;
  letter-spacing: -.5px;

  @include responsive(desktop-xl) {
    max-width: 95%;
  }


  .topHeading {
    color: $color-secondary-light;
    font-weight: 700;
    font-size: $largest-font-size;
  }
}

.miniHeading {
  font-size: $default-font-size;
  font-weight: 600;
  line-height: 1.875rem;
  margin-top: 1rem;
}

.policies {
  padding: 1rem 5rem;

  @include responsive(desktop-xl) {
    padding: 1rem 0;
  }
}

.textSection {
  margin-bottom: 3rem;
  font-size: $default-font-size;


  &Heading {
    font-weight: 700;
    margin-bottom: 0;
  }

}