@use '../../../assets/scss/main.scss' as *;

.containerComponent {
  display: inherit;
  justify-content: center;
  width: 96px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(28, 5, 77, 0.03), 0px 12px 8px rgba(0, 0, 0, 0.02);
}

.componentPicked {
  background: rgba(33, 150, 243, 0.3);
}