@use '../../../assets/scss/main.scss' as *;

.success{
  padding: 5.125rem 8.5rem;
  text-align: center;
  .title {
    margin-top: 2.5rem;
    margin-bottom: 0.625rem;
    font-size: $default-font-size;
    color: $color-primary;
    font-weight: $font-weight-bold;
  }
  .subTitle {
    font-size: $small-font-size;
    padding: 0 1.25rem;
    margin-bottom: 2.5rem;
  }
  .selesaiBtn {
    background-color: $color-primary;
    font-size: $small-font-size;
    padding: 0.625rem 4rem;
    border-radius: 0.5rem;
  }
}