@use '../../../assets/scss/main.scss' as *;

.confirmContainer {
  padding: 4rem 10rem;
  .title {
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: 2.125rem;
    color: $color-primary;
    margin-bottom: 0;
  }
  .subTitle {
    text-align: center;
    font-size: $small-font-size;
    margin-bottom: 2.5rem;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    .batalBtn {
      background-color: $color-white;
      border-radius: 0.5rem;
      color: $color-primary;
      width: 45%;
      &:hover {
        background-color: $color-primary;
        color: $color-white;
        border-color: $color-primary;
      }
    }
    .okBtn {
      background-color: $color-primary;
      width: 45%;
      border-radius: 0.5rem;
    }
  }
}