@use '../../../assets/scss/main.scss' as *;

.title {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.938rem;
}
.subTitle {
  font-size: 0.875rem;
  margin-bottom: 3rem;
}

.pinInput input{
  margin: 4px;
  width: 4.5rem;
  border-radius: 3px;
  font-size: 2rem;
  height: 4.5rem;
  text-align: center;
  border: 1px solid $color-text-light;
  outline: none;
  box-shadow: 0 .3rem 2rem rgba($color-black, .1);
  transition: .2s all;
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    border: 1px solid $color-primary-light;
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }
}

.countdown {
  margin-top: 1.875rem;
  color: $color-disabled;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}

.requestCode {
  font-size: 0.875rem;
  font-weight: 700;
  color: $color-primary-light;
  cursor: pointer;
}