@use '../../../assets/scss/main.scss' as *;

.fillEmail {
  display: flex;
  justify-content: center;
  .containerFillEmail {
    width: 65%;
    .title {
      text-align: center;
      color: $color-disabled;
      margin-bottom: 3.125rem;
    }
    .formGroup{
      margin-bottom: 1.25rem;
      .label {
        font-weight: 600;
        font-size: 0.875rem;
        margin-bottom: 0;
      }
      .input {
        padding: 14.5px 16px;
        height: 100%;
        color: $color-black;
        &::placeholder {
          color: $color-disabled;
        }
        &:focus {
          box-shadow: none;
          border-color: $color-disabled;
        }
      }
      .inputError {
        border-color: $color-error;
        &:focus {
          border-color: $color-error;
        }
      }
      .errorMessage {
        color: $color-error;
        font-size: 0.875rem;
      }
    } 
    .description{
      text-align: center;
      font-weight: 600;
      margin-bottom: 4rem;
    }
    .batalBtn {
      padding: 12px 68.5px;
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: 1.25px;
      background-color: $color-white;
      color: $color-primary;
      border-color: $color-primary;
    }
    .simpanBtn {
      padding: 12px 63.5px;
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: 1.25px;
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      &:disabled {
        background-color: $color-disabled;
        border-color: $color-disabled;
      }
    }
  }
}