@use '../../../assets/scss/main.scss' as *;

.profileHome {
  &Row {
    padding: 0.938rem 0.813rem;
    margin-bottom: 0.625rem;
    border-radius: 0.5rem;
    background-color: $color-text-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &Text {
      color: $color-black;
      font-weight: 600;
    }
  }
}