@use '../../../assets/scss/main.scss' as *;

.profile {
  &Home {
    background-color: $color-white;
    height: 100%;
    padding: 1.5rem;
    box-shadow: $box-shadow-container;
  }
  &Heading {
    color: $color-primary;
    font-weight: 700;
    font-size: $default-font-size;
    margin-bottom: 0;
  }
}

.WIP {
  color: $color-primary;
  font-weight: 700;
  margin-top: 7rem;
}