@use '../../../assets/scss/main.scss' as *;

.breadcrumbContainer {
  margin-bottom: 0.625rem;
  .textBreadcrumb {
    font-size: 0.875rem;
    font-weight: 600;
    color: $color-primary;
  }
  .textLink {
    cursor: pointer;
  }
}

.containerText {
  margin-bottom: 0.875rem;
  .label {
    font-size: 0.875rem;
    color: #566368;
    margin-bottom: 0;
  }
  
  .text {
    color: $color-black;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.pecilIcon {
  float: right;
}

.photoContainer {
  position: relative;
  float: right;
  width: 7.563rem;
  height: 7.563rem;
  .photoProfile {
    border-radius: 100%;
    width: 7.563rem;
    height: 7.563rem;
  }
  .pencilBlue {
    position: absolute;
    bottom: -3%;
    right: 9%;
    cursor: pointer;
  }
}


