@use '../../../assets/scss/main.scss' as *;

.modal {
  // background: none;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // border-radius: 0.313rem;
  // position: absolute;
  // left: 16%;
  // width: 33.438rem;
  // border: none;
  width: 100%;
  margin: 0;
  margin-left: 1rem;
}

.modalHeader {
  padding: 1.25rem;
  padding-bottom: 0.625rem;
  border: none;
}

.garisContainer {
  padding: 0 1.25rem;
  .garis {
    margin: 0;
  }
}

.title {
  font-size: $small-font-size;
  font-weight: 600;
  margin: 0;
}

.close {
  align-self: center;
  cursor: pointer;
}

.modalBody {
  padding: 1.25rem;
  padding-top: 0.938rem;
  .dashedBorder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #2196F3;
    height: 14.125rem;
    .textUpload {
      margin-top: 0.75rem;
      text-align: center;
      color: $color-primary-light;
    }
  }
}

.modalFooter {
  padding: 1.25rem;
  padding-top: 0;
  border: none;
  .batalBtn {
    background-color: $color-white;
    border-color: $color-disabled;
    color: $color-disabled;
    font-weight: 600;
    letter-spacing: 1.25px;
    font-size: 0.875rem;
  }
  .unggahBtn {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
    font-weight: 600;
    letter-spacing: 1.25px;
    font-size: 0.875rem;
  }
}