@use '../../../assets/scss/main.scss' as *;

.savingItem {
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    padding: 10px;
    transition: .2s all;

    &:hover {
        background-color: darken($color-white, 4%);
    }

    &:first-child {
        box-shadow: 0px -2px 2px rgba(28, 5, 77, 0.05), 0px -12px 8px rgba(0, 0, 0, 0.02);
    }

    &:last-child {
        box-shadow: 0px 2px 2px rgba(28, 5, 77, 0.05), 0px 12px 8px rgba(0, 0, 0, 0.02);
    }

    .savingName {
        margin-bottom: 0;
        line-height: 18px;
        font-size: 0.875rem;
    }
    
    .savingBalance {
        font-size: 1rem;
        font-weight: 600;
        color: lighten($color-secondary, 50%);
    }
    .icon {
        width: 36px;
        height: 36px;
        align-self: center;
    }
}