@use '../../../assets/scss/main.scss' as *;

.saving {
    height: 100%;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .titleHeader {
        margin-bottom: 0 !important;
        color: $color-primary-light;
        font-size: $default-font-size;
        font-weight: 700;
    }

    .divider {
        margin: 10px 0px;
        border: 1px solid $color-grey-light;
    }
}

.savingModalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .completeIcon {
        width: 10rem;
        height: 10rem;
    }

    .modalHeadingText {
        font-size: $small-font-size;
        font-weight: 700;
    }

    .modalSmallText {
    }
}