@use '../../../assets/scss/main.scss' as *;

.pet {
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: $color-white;
    box-shadow: $box-shadow-container;

    .containerPet {
        background-color: $color-primary;
        border-radius: 5px;
        color: $color-white;
        display: flex;
        flex-direction: column;
        padding: 0 88px;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;

        .coinContainer {
            display: flex;
            align-items: center;
            padding: .3rem .7rem .3rem .3rem;
            background-color: darken($color-primary, 10%);
            border-radius: 20px;
            margin-bottom: 32px;

            .coin {
                margin-right: 5px;
            }

            .coinText {
                font-family: 'Inter', sans-serif;
                font-size: .75rem;
            }
        }

        .userPet {
            margin-bottom: -.8rem;
            width: 8rem;
            height: 9rem;
        }

        .title {
            margin-bottom: .5rem;
            font-size: $default-font-size;
            font-weight: $font-weight-bold;
        }

        .subTitle {
            margin: 0;
            text-align: center;
            font-size: $smaller-font-size;
            font-weight: 600;
            width: 95%;
        }

        .petName {
            font-weight: 600;
            font-size: $small-font-size;
        }

        .iconEditName {
            margin-left: 12px;
            padding-bottom: 4px;
            cursor: pointer;
        }
    }
    
    .button {
        color: $color-white;
        font-size: $smaller-font-size;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.25px;
        background-color: $color-primary-light;
        border-color: $color-primary-light;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .7rem;
        box-shadow: 0 .3rem .3rem rgba($color-black, .2);
        transition: .2s all;

        &:hover {
            background-color: $color-white;
            color: $color-primary-light;
        }
    }
}