@use '../../../assets/scss/main.scss' as *;

.container {
  height: 100vh;

  .headingContainer {
    height: 35%;

    .successHeading {
      font-weight: 600;
    }
  }

  .detailContainer {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 48%;
      margin: 0 auto;

      .detailText {
        text-align: center;
        font-size: $small-font-size;
        line-height: 25.14px;
      }

      .backButton {
        @extend %cancelPageButton;

        text-transform: capitalize;
        width: 65%;
        margin: 1.5rem 0;

        &:hover {
          background-color: $color-white;
          color: $color-primary;
        }
      }
  }
}