@use '../../../assets/scss/main.scss' as *;

.sidebar {
  height: 100%;
}

.user {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3rem;
  margin: 0 2rem;
  border-bottom: 2px solid $color-grey-light;
  text-align: center;

  &Img {
    width: 100%;
    margin-bottom: .5rem;
  }

  &Name {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1;
    color: $color-primary-light;
    font-size: $small-font-size;

    .userEmail {
      font-weight: 400;
      display: block;
      color: $color-secondary-light;
      font-size: $smaller-font-size;
    }
  }
}

:global(.nav-item:not(:last-child)) {
  margin-bottom: .5rem;
}

.navLink {
  color: $color-disabled;
  font-weight: 600;
  font-size: $small-font-size;
  display: flex;
  align-items: center;
  padding: .8rem;
  border-left: .5rem solid transparent;

  &:hover {
    color: $color-primary-light;
  }

  &:hover .navIcon path{
    fill: $color-primary-light !important;
  }
}

.navIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.active {
  color: $color-primary-light;
  border-left: .5rem solid $color-primary-light;

  .navIcon path{
    fill: $color-primary-light !important;
  }
}