@use '../../../../assets/scss/main.scss' as *;

.freeze {
  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    width: 50%;
    margin-bottom: 1.25rem;
    margin-right: auto;
    margin-left: auto;
  }
  .containerButton {
    display: flex;
    justify-content: space-between;
    align-items: unset;
    margin-top: 3.4rem;
    .kembaliBtn {
      background-color: $color-white;
      color: $color-primary;
      border-color: $color-primary;
      font-weight: 600;
      letter-spacing: 1.25px;
      padding: 0.75rem 1rem;
      width: 47%;
      &:hover {
        color: $color-white;
        background-color: $color-primary-light;
        border-color: $color-primary-light;
      }
    }
    .simpanBtn {
      font-weight: 600;
      padding: 0.75rem 1rem;
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      letter-spacing: 1.25px;
      width: 47%;
    }
  }
}