@use '../../../assets/scss/main.scss' as *;

.userCard {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    border: 1px solid rgba(25, 118, 210, 0.2);
    border-radius: 4px;
    background: url('../../../assets/img/BG-userCard.png') no-repeat center/cover;

    &Sm {
        padding: 1.5rem 2.5rem;
    }

    &Var {
        padding: 1.5rem 1.8rem;
    }
}
