@use '../../..//assets/scss/main.scss' as *;

.historyItem {
  margin: 0;
  margin-bottom: 0.813rem;
  padding: 1.125rem 1.313rem;
  background-color: $color-text-light;
  border-radius: 0.313rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &Name {
    margin: 0;
  }
  &Bank {
    margin-right: 0.4rem;
  }
  &Amount {
    align-items: center;
    font-weight: 600;
    font-size: $small-font-size;
    &Red{
      color: #DB1313;
    }
    &Green{
      color: #20B81D;
    }
  }
}