@use '../../../assets/scss/main.scss' as *;

.history {
  &Home {
    background-color: $color-white;
    height: 100%;
    padding: 1.5rem;
    box-shadow: $box-shadow-container;
  }
  &Heading {
    color: $color-primary;
    font-weight: 700;
    font-size: $default-font-size;
    margin-bottom: 0;
  }
}

.iconBack {
  fill: $color-primary;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  position: absolute;
  left: 0;
}