@use '../../../assets/scss/main.scss' as *;

.monola {
  @extend %monola;

  @include responsive(phone-landscape) {
    font-size: $large-font-size !important;
  }

  @include responsive(phone-small) {
    font-size: $default-font-size !important;
  }

  &Lg {
    font-weight: 700;
    font-size: 2.125rem;

    @include responsive(desktop-l) {
      font-size: $large-font-size !important;
    }

    @include responsive(phone-landscape) {
      font-size: 3rem !important;
    }

    @include responsive(phone-portrait) {
      font-size: 2.5rem !important;
    }

    @include responsive(phone-small) {
      font-size: 1.5rem !important;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &Lg2 {
    font-weight: 700;
    font-size: 2.625rem;
    color: white;

    @include responsive(phone-portrait) {
      font-size: 1.8rem !important;
    }

    @include responsive(phone-small) {
      font-size: 1.5rem !important;
    }
  }
}