@use '../../../assets/scss/main.scss' as *;

.transactionItem {
  border-radius: 5px;
  border-top-width: 1px !important;

    &:first-child {
      border-radius: 5px !important;
    }

    &:last-child {
      border-radius: 5px !important;
    }
    
    
    .name {
      margin: 0;
      font-weight: 600;
      margin-bottom: 0 !important;
    }
    
    .identityNumber {
      margin: 0;
      color: $color-secondary-light;
    }
}

.linkItem {
  cursor: pointer;
  transition: .2s all;

  &:hover {
    background-color: darken($color-white, 4%);
  }
}
