@use '../../../assets/scss/main.scss' as *;

.modal {
  margin-left: 45.5%;
  max-width: 400px;

  .modalHeader {
    padding: .8rem 1.5rem .3rem 1.5rem;
    font-size: $small-font-size;
    letter-spacing: 0.15px;
    color: $color-secondary;
    font-weight: 600;
    border-bottom: none;
    display: flex;
    align-items: center;

    .close {
      align-self: center;
      cursor: pointer;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .divider {
    height: 1px;
    background-color: $color-grey-light;
    margin: 0 1rem;
  }

  .modalBody {
    padding: .5rem 2rem !important;
  }

  .component {
    align-self: center;
  }

  .containerRenderedIcon {
    margin-top: 35px;
  }

  .modalFooter {
    border-top: none;
    background-color: $color-text-light;
    padding: 20px;

    %btnModal {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-size: $smaller-font-size;
      letter-spacing: 1.25px;
      border-radius: 4px;
      padding: .6rem 1rem;
      margin: 0 .7rem;
    }

    .btnOnHide {
      @extend %btnModal;
      color: $color-disabled;
      background-color: white;
      border-color: $color-grey-light;
      
      &:hover {
          text-decoration: none;
          color: darken($color-disabled, 10%);
          border-color: darken($color-disabled, 10%);
      }

      &:active {
        background-color: white;
        color: $color-disabled;
        border-color: $color-disabled;
        box-shadow: none !important;
      }

      &:focus {
        box-shadow: none;
      }
  }

    .btnAccept {
      @extend %btnModal;
      color: $color-white;
      background-color: $color-primary-light;

      &:focus {
        box-shadow: none;
      }

      &:active {
        background-color: $color-primary-light;
        box-shadow: none !important;
      }
  }
  }
}