@use '../../../assets/scss/main.scss' as *;

.modal {
    margin-left: 49%;
    max-width: 300px;
    .modalHeader {
        background-color: $color-primary-light;
        padding: 50px 92px;
        flex-direction: column;
        .imgContainer {
            max-width: 128px;
            max-height: 145px;
            align-self: center;
            margin-bottom: $small-font-size;
            .petImg {
                width: 115px;
                margin-bottom: -14px;
            }
        }
    }
    .modalBody {
        padding: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 32px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        .question {
            font-weight: 600;
            margin-bottom: 11px;
        }
        .description {
            display: flex;
            font-size: 0.875rem;
        }
        .coinContainer {
            text-align: right;
            .coinImg {
                margin-right: 5px;
            }
            .coinText {
                font-weight: 600;
            }
        }
        .btnOnHide {
            text-decoration: none;
            font-weight: 600;
            font-size: 0.875rem;
            color: $color-disabled;
            letter-spacing: 1.25px;
            &:hover {
                text-decoration: none;
                color: darken($color-disabled, 10%);
            }
        }
        .btnAccept {
            font-weight: 600;
            font-size: 0.875rem;
            color: $color-white;
            background-color: $color-primary-light;
            border-radius: 4px;
            border: none;
            letter-spacing: 1.25px;
        }
    }
}