@use '../../../assets/scss/main.scss' as *;

.cancelContainer {
  background-color: $color-white;
  height: 100%;
  box-shadow: $box-shadow-container;
  padding: 5rem 0;

  .content {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    text-align: center;
    margin: 0 auto;

    .heading {
      font-size: $default-font-size;
      color: $color-primary;
      font-weight: 700;
      letter-spacing: .18px;
    }

    .paragraph {
      font-weight: 400;
      font-size: $small-font-size;
      line-height: 25.14px;
    }
  }
}

.cancelBtn {
  @extend %cancelPageButton;
  background-color: $color-white;
  color: $color-primary;

  &:hover {
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }
}

.confirmBtn {
  @extend %cancelPageButton;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}