@use '../../../assets/scss/main.scss' as *;

.inputGroupText {
  background-color: $color-white;
  border-left: none;
  transition: .2s all;
}

.searchInput {
  transition: .2s all;
}

.searchInput:focus {
    box-shadow: 0 0 .5rem -2px rgb(0 123 255 / 25%);
    border-top: 1px solid #80bdff;
    border-bottom: 1px solid #80bdff;
    border-left: 1px solid #80bdff;
}


.searchInput:focus ~ .append .inputGroupText {
  box-shadow: 0 0 .5rem 0 rgb(0 123 255 / 25%);
  border-top: 1px solid #80bdff;
  border-bottom: 1px solid #80bdff;
  border-right: 1px solid #80bdff;
}