@use '../../../assets/scss/main.scss' as *;

.btnRed {
  color: $color-text-light;
  font-size: $small-font-size;
  letter-spacing: 0.15px;
  padding: .8rem 2rem;
  background-color: $color-tertiary-light;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 2rem;
  transition: .2s all;
  border: 1px solid $color-tertiary-light;

  @include responsive(desktop-xl) {
    font-size: 1.2rem;
  }

  @include responsive(phone-landscape) {
    padding: 1rem 3rem;
    font-size: $large-font-size;
  }

  @include responsive(phone-portrait) {
    font-size: $default-font-size;
  }

  @include responsive(phone-small) {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  &:hover {
    background-color: $color-tertiary-dark;
    color: $color-text-light;
    text-decoration: none;
    border: 1px solid $color-tertiary-dark;
  }
}