@use '../../../assets/scss/main.scss' as *;

.button {
    width: 100%;
    font-weight: 600;
    letter-spacing: 1.25px;
    &:disabled {
        background-color: $color-disabled;
        border-color: $color-disabled;
    }
}