@use '../../../assets/scss/main.scss' as *;

.btnPrevious {
  @extend %button;

  width: 100%;
  background-color: $color-white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
  font-size: $smaller-font-size;
  color: $color-primary-light;
  border: 1px solid $color-primary-light;

  &:hover {
    background-color: $color-primary-light;
    color: $color-white;
  }
}