@use '../../../assets/scss/main.scss' as *;

.button {
    width: 100%;
    font-weight: 600;
    letter-spacing: 1.25px;
    background-color: $color-primary-light;
    text-transform: uppercase;
    padding: .5rem 0;

    &:hover {
        background-color: darken($color-primary-light, 10%);
    }

    &:disabled {
        background-color: $color-disabled;
        border-color: $color-disabled;
    }
}