@use '../../../assets/scss/main.scss' as *;

.titleHeader {
    margin-bottom: 12px;
}

.name {
    font-size: $large-font-size;
    color: $color-white;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
}

.rekening {
font-size: $small-font-size;
color: $color-white;
margin-bottom: 35px;
}

.saldoTitle {
font-size: 16px;
color: $color-white;
margin: 0;
}

.saldo {
font-size: $small-font-size;
color: $color-white;
font-weight: $font-weight-bold;
margin-bottom: 30px;
}