@use '../../../assets/scss/main.scss' as *;

.titleHeader {
    padding: 8.5px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.nameUser {
    font-size: $small-font-size;
    color: $color-primary-light;
    font-weight: $font-weight-bold;
    line-height: 25px;
    margin: 0;
}