@use '../../../../assets/scss/main.scss' as *;

.petShopItem {
  cursor: pointer;
  display: flex;
  padding: 15px;
  flex-direction: column;
  box-shadow: 0px -2px 2px rgba(28, 5, 77, 0.05), 0px -12px 8px rgba(0, 0, 0, 0.02);

  .petImgContainer {
      text-align: center;
      align-self: center;
      display: block;
      width: 60%;
      padding: 25px;
      background-color: $color-bg-itemShop;
      border-radius: 50%;
      margin-bottom: 25px;
  }
}

.itemImage {
  width: 3rem;
  height: 3rem;
}

.disabled {
  cursor: default;
  // filter: grayscale(100%);
}

.coinContainer {
  display: flex;
  align-items:center;
  width: fit-content;
  padding: 5px 10px;
  background-color: $color-primary;
  border-radius: 20px;
  align-self: center;

  &.disabled {
    background-color: $color-disabled;
  }

  .coin {
      margin-right: 5px;

      &Disabled {
          filter:grayscale(100%);
      }
  }

  .coinText {
    font-weight: 600;
    color: $color-white;
  }
}

.isCoinShop {
    position: unset;
    background-color: $color-primary;
}

.disabled {
    cursor: default;
}