@use '../../../../assets/scss/main.scss' as *;

.button {
  width: 100%;
  background-color: $color-white;
  border: 1px solid $color-grey-light;
  border-radius: 5px;
  padding: .3rem 1rem;
  transition: .2s all;

  &:hover {
    background-color: $color-primary-light;
    color: $color-white;
  }

}

.active {
  background-color: $color-primary-light;
  color: $color-white;
}
