@use '../../../assets/scss/main.scss' as *;

.emptyTitle {
  color: $color-primary;
  font-weight: 700;
  font-size: $default-font-size;
}

.emptySubTitle {
  color: $color-primary;
  font-weight: 600;
  font-size: $smaller-font-size;
}