@use '../../../assets/scss/main.scss' as *;

.container {
  height: 100vh;

  .headingContainer {
    height: 35%;

    .successHeading {
      font-weight: 600;
    }
  }

  .detailContainer {
      background-color: $color-text-light;
      padding: 1rem;
      border: 1px solid rgba($color-black, .12);
  }
}

.recipientName {
  font-weight: 600;
  font-size: $smaller-font-size;
  margin-bottom: 0;
}

.recipientAccountDetail {
  font-weight: 400;
  font-size: $smaller-font-size;
  margin-bottom: 0;
}

.nominal {
  font-weight: 600;
}