@use './assets/scss/global.scss' as *;
@use './assets//scss/main.scss' as *;

@font-face {
  font-family: 'Peace Sans';
  src: local('Peace Sans'), url('./assets/fonts/peace_sans-webfont.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: $color-text-light;
  height: 100vh;
}

a {
  &:hover {
    text-decoration: none;
  }
}

hr {
  border-top: 2px solid rgba($color-black, .1)
}

input:read-only {
  background-color: $color-white!important;
}

.btn-secondary {
  background-color: $color-primary-light;
}

.react-datepicker__header {
  padding: 0 !important;
}

.react-datepicker__day-names {
  background-color: $color-white;
  border-bottom: none;
}

.react-datepicker__day-name {
  font-weight: 600;
}

.saving-modal .modal-dialog {
  width: 25%;
}

.logout-modal .modal-dialog, .saving-modal .modal-dialog, .coin-modal .modal-dialog, .profile-modal .modal-dialog {
  margin-left: 45rem;
  margin-top: 15rem;
}

.logout-modal .modal-content {
  border-radius: 2rem;
  width: 80%;
}

.btn-monola-primary {
  background-color: $color-primary-light;
  font-size: $small-font-size;
  padding: 1rem 2rem;
  color: $color-white;
  font-weight: 700;

  &:hover {
    background-color: darken($color-primary-light, 20%);
    color: $color-white;
  }
}

.btn-monola-danger {
  background-color: $color-tertiary-light;

  &:hover {
    background-color: darken($color-tertiary-light, 20%);
    color: darken($color-white, 20%);
  }
}