@use '../../../assets/scss/main.scss' as * ;

.addNewSavingTitle {
    display: flex;
    position: relative;
    padding: 16px 0px;
    justify-content: center;
    background-color: $color-primary-light;
    color: $color-white;
    border-radius: 4px;
    .navLink {
        color: $color-white;
    }
    .iconBack {
        position: absolute;
        top: 28%;
        left: 5%;
        cursor: pointer;
    }
    .title {
        margin: 0;
        font-weight: 600;
        font-size: 1.125rem;
    }
    .coinContainer {
        display: flex;
        position: absolute;
        top: 18%;
        right: 4%;
        width: fit-content;
        padding: 5px 10px;
        background-color: darken($color-primary, 10%);
        border-radius: 20px;
        .coin {
            margin-right: 5px;
        }
    }
}
    


