@use '../../../assets/scss/main.scss' as * ;

.popUp {
    position: relative;
    background: url('../../../assets/img/BG-popup.png') no-repeat center/cover;
    border: 1px solid rgba(33, 150, 243, 0.2);
    border-radius: 5px;
    padding: 27px 76px;
    .title {
        font-size: $small-font-size;
        font-weight: $font-weight-bold;
        color: $color-primary;
    }
    .subTitle {
        font-size: 14px;
        line-height: 18px;
        color: $color-disabled;
    }
    .nabung {
        font-size: 16px;
        color: $color-tertiary-light;
        font-weight: $font-weight-bold;
        margin-bottom: 5.5px;
    }
    .icon {
        position: absolute;
        right: 2.5%;
        top: 11%;
        cursor: pointer;
    }
}