@use '../../../assets/scss/main.scss' as *;

.coinContainer {
    display: flex;
    position: absolute;
    top: 18%;
    right: 4%;
    width: fit-content;
    padding: 5px 10px;
    background-color: darken($color-primary, 10%);
    border-radius: 20px;
    align-self: center;

    .coin {
        margin-right: 5px;

        &Disabled {
            filter:grayscale(100%);
        }
    }

    .coinText {
        color: $color-white;
    }
}

.isCoinShop {
    position: unset;
    background-color: $color-primary;
}

.disabled {
    cursor: default;
    background-color: $color-disabled;
    filter: grayscale(100%);
}